frontend/node_modules
frontend/.env.local
backend/.env
backend/node_modules
/node_modules
coverage/
.idea/
backend/dist
package-lock.json
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
*.log